/* * { */
    /* background-color: rgb(170, 99, 117); */
    /* align-content: center; */
    /* color: white; */
/* } */

* {
    /* max-width: 650px; */
    margin: 15px auto;
    text-align: center;
}

.main-gametable-wrapper {
    margin: 15px;
}
